<template>
    <div class="container_large">
        <h3 class="p-5 text-center">Vue.js - Display a list of items with v-for</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>File</th>
                    <th>Sentence</th>
                    <th>Polarity</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="evaluation in evaluations" :key="evaluation.uuid">
                    <td>{{evaluation.file_id}}</td>
                    <td>{{evaluation.sentence}}</td>
                    <td>{{evaluation.polarity}}</td>
                    <td>{{evaluation.type}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>

import axios from 'axios';
import { mapGetters } from "vuex";
export default {
  mounted: function () {
    const _this = this
axios.get( 'http://localhost:8080/user/'+this.$store.getters.getUser+'/evaluations'

				).then(function(response){
					console.log('SUCCESS!!');
           _this.evaluations = response.data.data;
          console.log( _this.evaluations);
				})

    },
    computed: {
       isLogin() {
      return this.$store.state.token;
    },
    ...mapGetters({

      isLoggedIn: "isLoggedIn",
      getUser: "getUser",
    }),
  },
  data() {
    return {
      secretMessage: '',
      username: '',
      evaluations: []
    };
  },
  async created() {
    if (!this.$store.getters.isLoggedIn) {
      this.$router.push('/login');
    }
  },

  methods: {
    logout() {
      this.$store.dispatch('logout');
      this.$router.push('/login');
    }
  }
};
</script>
