<template>
   <div class="vue-tempalte">
        <form>
            <h3>Sign Up Coppel Us</h3>
            <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control form-control-lg" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control form-control-lg" />
            </div>
            <br/>
            <input type="button" class="btn btn-primary"   @click="signUp" value="Sign Up" />

        </form>
    </div>
</template>
<script>
import AuthService from '@/services/AuthService.js';

export default {
  data() {
    return {
      email: '',
      password: '',
      msg: ''
    };
  },
  methods: {
    async signUp() {
      try {
        const credentials = {
          email: this.email,
          password: this.password,
        };
        const response = await AuthService.signUp(credentials);
        this.msg = response.msg;
      } catch (error) {
        console.log(error.response);
        this.msg = error.response;
        this.$notify({ group: 'not', text:  this.msg })
        this.$router.push('/');
      }
    }
  }
};
</script>