
<style scoped>
	input[type="file"]{
		position: absolute;
		top: -500px;
	}
	div.file-listing{
		width: 400px;
		margin: auto;
	}
	span.remove-file{
		color: red;
		cursor: pointer;
		float: right;
	}
</style>

<template>
	<div class="container">
		<div class="large-12 medium-12 small-12 cell">
			<h2>Select Files</h2>
			<hr/>
			<label for="select-files">Files
				<input id="select-files" type="file" multiple @change="handleFilesUpload( $event )"/>
			</label>
		</div>
		<div class="large-12 medium-12 small-12">
			<div
				v-for="(file, key) in files"
				v-bind:key="'file-'+key"
				class="file-listing">{{ file.name }} <span class="remove-file" v-on:click="removeFile( key )">Remove</span>
			</div>
		</div>
		<br>
		<div class="large-12 medium-12 small-12 cell">
			<button v-on:click="addFiles()" class="btn btn-secondary" >Add Files</button>
		</div>
		<br>
		<div class="large-12 medium-12 small-12 cell">
			<button v-on:click="submitFiles()" class="btn btn-secondary" >Submit</button>
		</div>
	</div>
</template>

<script>
//import FileService from '@/services/FileService.js';
import axios from 'axios';
export default {
  data(){
			return {
				files: []
			}
  },
  methods: {
    /*
				Adds a file
			*/
			addFiles(){
				document.getElementById('select-files').click();
			},
      handleFilesUpload( event ){
				let uploadedFiles = event.target.files;
				/*
					Adds the uploaded file to the files array
				*/
				for( var i = 0; i < uploadedFiles.length; i++ ){
					this.files.push( uploadedFiles[i] );
				}
			},
      /*
				Removes a select file the user has uploaded
			*/
			removeFile( key ){
				this.files.splice( key, 1 );
			},
 submitFiles(){
  let files = new FormData();
  for( var i = 0; i < this.files.length; i++ ){
    alert(i)
    let file = this.files[i];
    files.append('files[]', file);
  }
  console.log(files);
axios.post( 'http://localhost:8080/files',
					files,
					{
						headers: {
								'Content-Type': 'multipart/form-data'
						}
					}
				).then(function(){
					console.log('SUCCESS!!');
				})
				.catch(function(){
					console.log('FAILURE!!');
				});
}
}}
</script>