<template>
  <div class="vue-tempalte">
    <!-- Navigation -->
    <nav class="navbar shadow bg-white rounded justify-content-between flex-nowrap flex-row fixed-top">
      <div class="container">
        <div v-if="isLogin">

          <ul class="nav navbar-nav flex-row float-right">
             <li class="nav-item">

           <router-link class="btn btn-outline-primary"  to="/">Home</router-link>
           </li>
                  <li class="nav-item">

           <router-link class="btn btn-outline-primary"  to="/upload">Subir Archivos</router-link>
          </li>
   <li class="nav-item">
            <input type="button" class="btn btn-primary"  value="Logout" @click="logout" />
           </li>
        </ul>
        </div>
        <div v-else>
                <ul class="nav navbar-nav flex-row float-right">
          <li class="nav-item">

           <router-link class="btn btn-outline-primary"  to="/login">Sign in</router-link>
          </li>
          <li class="nav-item">
            <router-link class="btn btn-outline-primary" to="/sign-up">Sign up</router-link>
          </li>
        </ul>
        </div>
      </div>
    </nav>

    <!-- Main -->
    <div class="App">

      <div class="vertical-center">
        <div class="inner-block">
            <notifications group="not" />
          <router-view />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";


export default {
    methods: {
    logout() {
      this.$store.dispatch('logout');
      this.$router.push('/login');
    }
  },
  computed: {
       isLogin() {
      return this.$store.state.token;
    },
    ...mapGetters({

      isLoggedIn: "isLoggedIn",
      getUser: "getUser",
    }),
  },
};
</script>